# package directory and external module
node_modules
jspm_packages

# more dirs
/.build
/.idea/
/dist
.idea/workspace.xml

# Serverless directories
.serverless


# Typescript compiled files
**/*.js
**/*.js.map

# Logs
logs
*.log

# IntelliJ files
.idea
workspace.xml



#serverless log file
filelogs.txt

#vscode files 
.vscode

#local dyanmodb
temp
Test
.db
.dynamodb
#OSX
.DS_Store
